*
!.gitignore

!.bash_profile
!.bashrc
!.config/Code/User/settings.json
!.config/i3/config
!.config/mimeapps.list
!.config/mpd/mpd.conf
!.config/picom.conf
!.config/polybar/config
!.config/polybar/launch.sh
!.config/polybar/mpd-scroll
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/termite/config
!.scripts/
!.vimrc
!.xinitrc
!.xlock/
!.xserverrc
!.zshrc
