*
!.gitignore

!.config/Code/User/settings.json
!.config/gtk-3.0/settings.ini
!.config/i3/config
!.config/mpd/mpd.conf
!.config/openbox/autostart
!.config/openbox/menu.xml
!.config/openbox/rc.xml
!.config/polybar/config
!.config/polybar/launch.sh
!.config/polybar/mpd-scroll
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/termite/config
!.config/compton.conf
!.config/mimeapps.list
!.ncmpcpp/bindings
!.ncmpcpp/config
!.scripts
!.xlock
!.Xresources
!.bash_profile
!.bashrc
!.gtkrc-2.0
!.tmux.conf
!.uncrustify.cfg
!.vimrc
!.xinitrc
!.xserverrc
!.zshrc
