!! Appearance
URxvt.internalBorder: 0
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.font: xft:Hack-Regular:size=12,xft:Symbola
URxvt.boldFont: xft:Hack-Bold:size=12:weight=bold,xft:Symbola
URxvt.italicFont: xft:Hack-RegularOblique:size=12:slant=italic,xft:Symbola

!! Perl extensions
URxvt.perl-ext-common: default,keyboard-select,matcher,resize-font,selection-to-clipboard

!! Copy-Paste
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

!! URL support
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.underlineURLs: True

!! Vim mode (keyboard-select)
!! git clone https://github.com/pkkolos/urxvt-scripts ~/.urxvt/ext
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! Cursor word movement
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!! in .zshrc add this:
!! export WORDCHARS='*?_-.[]~=/&;!#$%^(){}<>'
!! bindkey ';5D' backward-word
!! bindkey ';5C' forward-word

!! Unicode mode activates with Ctrl+Shift
URxvt.iso14755: true
URxvt.iso14755_52: false
