<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-net-menu" label="Internet">
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Chromium</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-dbs-menu" label="Databases">
  <item label="MySQL Workbench">
    <action name="Execute">
      <command>mysql-workbench</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Studio 3T">
    <action name="Execute">
      <command>studio-3t</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-hyperv-menu" label="Hypervisors">
  <item label="VirtualBox">
    <action name="Execute">
      <command>virtualbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="VMWare Player">
    <action name="Execute">
      <command>vmplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-dev-menu" label="Development">
  <menu id="apps-dbs-menu"/>
  <menu id="apps-hyperv-menu"/>
  <item label="Android Studio">
    <action name="Execute">
      <command>android-studio</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="VSCode">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>speedcrunch</command>
    </action>
  </item>
  <item label="Char Map">
    <action name="Execute">
      <command>gucharmap</command>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="LibreOffice Writer">
    <action name="Execute">
      <command>libreoffice -writer</command>
    </action>
  </item>
  <item label="LibreOffice Calc">
    <action name="Execute">
      <command>libreoffice -calc</command>
    </action>
  </item>
  <item label="LibreOffice Impress">
    <action name="Execute">
      <command>libreoffice -impress</command>
    </action>
  </item>
  <item label="Zathura">
    <action name="Execute">
      <command>zathura</command>
    </action>
  </item>
</menu>

<menu id="apps-programs-menu" label="Programs">
  <menu id="apps-accessories-menu"/>
  <menu id="apps-office-menu"/>
  <item label="Blender">
    <action name="Execute">
      <command>blender</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Cura">
    <action name="Execute">
      <command>cura</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Rambox">
    <action name="Execute">
      <command>rambox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="VLC">
    <action name="Execute">
      <command>vlc</command>
    </action>
  </item>
</menu>

<menu id="apps-daemons-menu" label="Daemons">
  <!-- Bluetooth tray icon (using Blueman) -->
  <item label="Blueman">
    <action name="Execute">
      <command>blueman-applet start</command>
    </action>
  </item>
  <!-- Sync gdrive folder with cloud -->
  <item label="Insync">
    <action name="Execute">
      <command>insync start</command>
    </action>
  </item>
  <!-- WiFi tray icon (using Network Manager) -->
  <item label="NM Applet">
    <action name="Execute">
      <command>nm-applet</command>
    </action>
  </item>
  <!-- Adjust screen brightness/color based on time of day (like f.lux) -->
  <item label="Redshift">
    <action name="Execute">
      <command>redshift-gtk -t 5500:2625</command>
    </action>
  </item>
  <!-- Start torrenting client -->
  <item label="Transmission">
    <action name="Execute">
      <command>transmission-daemon -t -u arch -v linux -p 9091 -a "127.0.0.1"</command>
    </action>
  </item>
</menu>

<menu id="apps-settings-menu" label="Settings">
  <item label="LXAppearance">
    <action name="Execute">
      <command>lxappearance</command>
    </action>
  </item>
  <item label="PulseAudio">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <menu id="apps-settings-menu"/>
  <item label="Lock">
    <action name="Execute">
      <execute>~/.scripts/pixlock</execute>
    </action>
  </item>
  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="Suspend">
    <action name="Execute">
      <execute>systemctl suspend</execute>
    </action>
  </item>
  <item label="Hibernate">
    <action name="Execute">
      <execute>systemctl hibernate</execute>
    </action>
  </item>
  <item label="Reboot">
    <action name="Execute">
      <prompt>Are you sure you want to reboot?</prompt>
      <execute>reboot</execute>
    </action>
  </item>
  <item label="Shutdown">
    <action name="Execute">
      <prompt>Are you sure you want to shutdown?</prompt>
      <execute>shutdown now</execute>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="Terminal">
    <action name="Execute">
      <command>termite --geometry=852x490</command>
    </action>
  </item>
  <item label="File Explorer">
    <action name="Execute">
      <command>nemo</command>
    </action>
  </item>
  <menu id="apps-net-menu"/>
  <menu id="apps-dev-menu"/>
  <menu id="apps-programs-menu"/>
  <menu id="apps-daemons-menu"/>
  <menu id="system-menu"/>
</menu>

</openbox_menu>
